{% import "layouts/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->

    <!-- <script src="js/jquery-3.1.0.min.js"></script> -->
    <script src="js/jquery.js"></script>
{% if slick  %}
    <script src="js/slick.min.js"></script>
{% endif %}
{% if map  %}
    <script type="text/javascript">
var map;
var markerPosition = {lat: 54.9849408, lng: 82.8688933};
var markerImage = 'images/beachflag.png'
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 54.9849408, lng: 82.8688933},
    zoom: 14
  });
  var marker = new google.maps.Marker({
      position: markerPosition,
      map: map,
      title: 'Eco Fly'
    });

}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8l5YQaZCLxYqkPl3llfnf8oD1ITi5THI&callback=initMap">
    </script>
{% endif %}
{% if app  %}
    <script type="text/javascript" src="js/app.js"></script>
{% endif %}
    <!-- END scripts -->

  </body>
</html>
